:host {
  display: block;
  padding: 10px;

  @media (min-width: 600px) {
    padding: 40px 20px;
  }
}

.table-section {
  width: fit-content;
  margin: 0 auto;

  .filter-input {
    width: 100%;
    max-width: 250px;
  }
}
