<section class="table-section">
  <mat-form-field class="filter-input">
    <mat-label>Filter</mat-label>
    <input matInput [(ngModel)]="filterInputValue">
    @if (filterInputValue()) {
      <button matSuffix mat-icon-button aria-label="Clear" (click)="resetFilter()">
        <mat-icon>close</mat-icon>
      </button>
    }
  </mat-form-field>
  <ng-container *rxLet="filter$; let filter;">
    <app-table [loading]="isLoading()" [data]="data()" [filter]="filter" (openModal)="openModal($event)"/>
  </ng-container>
</section>
